//TYPOGRAPHY
$font-family-base: 'Open sans';
$font-size-base: 18px;

//COLORS
$color-1: #181818;
$color-2: #8758FF;
$color-3: #5a809d;
$color-4: #F2F2F2;
$color-5: #363636;
$color-danger: #df4b4b;
$color-warning: #FFDE00;
$color-success: #38E54D;
$color-info: #A084CA;
$color-tertiary: #7c98b4;

//SIZES
$border-radius-base: 5px;
$content-width-1: 1440px;
$content-width-2: 1024px;
$content-width-3: 768px;
$content-width-4: 425px;

$header-height: 70px;

$button-padding-base: 10px 15px;

$item-card-width: 300px;
$item-card-height: 400px;
